.aboutContain {
    background-color: black;

}
.service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 100px;
}

.aboutContent p {
    color: white;
    font-family: var(--body);
    font-size: 1.1rem;
    font-weight: 200;
    text-align: justify;
    line-height: 2;
}

.aboutContent img {
    filter: grayscale();
    height: 680px;
    width: 550px;
    filter: grayscale();
    transition: .3s ease-in-out;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 700px;
}

.aboutContent img:hover {
    filter: none;
}

#service-txt h2 {
    font-size: 6.7rem;
}

.aboutContent h2 {
    color: white;
    text-align: center;
    font-family: var(--subheading);
    font-weight: 300;
    font-size: 6.5rem;
    border-bottom: 1px solid white;
    margin: 0 10% 2% 10%;
    padding-bottom: 1%;
    padding-top: 2%;
}

#quiSuisJe {
    display: flex;
    gap: 100px;
    overflow-wrap: break-word;
    margin: 0 5%;
}

#quiSuisJe span {
    font-family: var(--subheading);
    font-weight: 300;
    font-size: 3rem;
}
.containerp {
    margin-top: 5%;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    word-wrap: break-word;
}

.whitep {
    display: flex;
    justify-content: space-between;
    color: white;
    white-space: nowrap;
    animation: scrollLeft 20s linear infinite;
    margin: 8px 0 8px 0;
}

.insta {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: var(--body);
    font-weight: 500;
    font-size: 1.1rem
}

#pAnim {
    color: white;
    font-family: var(--subheading);
    font-weight: 300;
    font-size: 1.5rem;
}

.service img {
    padding-top: 1%;
    height: 700px;
    width: 900px;
}
.imgMeltattoo {
    margin-top: 6%;
}
.prez-services {
    display: flex;
}

.prez-services img {
    height: 340px;
    width: 240px;
}

@keyframes scrollLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
@keyframes fade-in {
    from {scale: .6; opacity: 0; }
    to {scale: 1; opacity: 1;}
}

@media screen and (max-width: 1640px) {
    .aboutContent {
        gap: 50px;
        margin: 0 5%;
        padding-top: 3%;
    }
    

    .aboutContent img {
        width: 40%;
        padding-top: 2%;

        height: 40%;
    }

    .aboutContent p {
        padding-top: 2%;
        font-size: 1rem;
    }

    .aboutContent h2 {
        font-size: 4.5rem;
    }

    #quiSuisJe {
        margin: 0 2%;
        gap: 50px;
    }
    .service img {
        height: 100%;
        width: 70%;
    }

    .service {
    padding-top: 5%;
    padding-bottom: 10%;
    }
    .prez-services img {
        margin-left: 2%;
        width: 30%;
    }
    .prez-services img:nth-child(2) {
        margin-left: 2%;
        width: 27%;
    }
    #service-txt h2 {
        font-size: 4.5rem;
    }

}

@media screen and (max-width: 1024px) {
    .aboutContain {
        overflow: hidden;
    }
    .aboutContent {
        gap: 50px;
        margin: 0 5%;
        padding-top: 3%;
    }

    .aboutContent img {
        width: 70%;
        height: 70%;
    }

    .aboutContent p {
        font-size: 1.1rem;
    }

    .aboutContent h2 {
        font-size: 3.8rem;
    }

    

    #service-txt {
        font-size: 4rem;
    }

    #quiSuisJe {
        flex-direction: column;
        align-items: center;
    }
    .service img {
        height: 100%;
        width: 100%;
    }

    .service {
        flex-direction: column;
    }
    .prez-services img {
        display: none;
    }
    .containerp {
 
        width: 1200px;

    }
}

@media screen and (max-width: 480px) {
    .aboutContent {
        gap: 50px;
        margin: 0 3%;
        padding-top: 3%;
     
    }
    .aboutContain {
        overflow: hidden;
    }

    .aboutContent img {
        width: 70%;
        height: 70%;
    }

    .aboutContent p {
        font-size: 1.1rem;
        text-align: center;
    }

    .aboutContent h2 {
        font-size: 2.2rem;
    }

    #service-txt h2  {
        font-size: 4rem;
        margin-top: 7%;
    }
    .containerp {
 
        width: 1000px;

    }
    
    #quiSuisJe {
        flex-direction: column;
        align-items: center;
    }
    .service img {
        height: 100%;
        width: 100%;
    }

    .service {
        flex-direction: column;
    }
    .prez-services img {
        display: none;
    }
}