.aboutContain {
    background-color: black;
}

.aboutContent, .service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    gap: 100px;
}

.aboutContent p {
    padding-top: 6%;
    color: white;
    font-family: var(--body);
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
    
}

.aboutContent img {
    filter: grayscale();
    height: 700px;
    width: 550px;
    filter: grayscale();
    transition: .3s ease-in-out;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 700px;
}

.aboutContent img:hover {
    filter: grayscale(10%);
}

.aboutContent h2 {
    color: white;
    text-align: center;
    font-family: var(--subheading);
    font-weight: 300;
    font-size: 6.7rem;
    border-bottom: 1px solid white;
    margin: 0 10%;
    padding-bottom: 3%;
}

#quiSuisJe {
    width: 40%;
    overflow-wrap: break-word;
}

.containerp {
    margin-top: 5%;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    word-wrap: break-word;
}

.whitep {
    display: flex;
    justify-content: space-between;
    color: white;
    white-space: nowrap;
    animation: scrollLeft 20s linear infinite;
    margin: 8px 0 8px 0;
}

.insta {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: var(--body);
    font-weight: 500;
    font-size: 1.1rem
}

#pAnim {
    color: white;
    font-family: var(--subheading);
    font-weight: 300;
    font-size: 1.5rem;
}

.service img {
    margin-top: 0;
    padding-top: 0;
    height: 700px;
    width: 900px;
}

.services-txt {
    display: flex;
    word-wrap: break-word;
    margin-bottom: 5%;
}

.prez-services {
    display: flex;
}

.prez-services img {
    height: 340px;
    width: 240px;
}

@keyframes scrollLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
@keyframes fade-in {
    from {scale: .6; opacity: 0; }
    to {scale: 1; opacity: 1;}
}

@media screen and (max-width: 750px) {
    .aboutContent {
        flex-direction: column;
        gap: 50px;
        margin: 0 5%;
        padding-top: 10%;
    }

    .aboutContent img {
        width: 100%;
        height: auto;
    }

    .aboutContent h2 {
        font-size: 5.8rem;
    }

    #quiSuisJe {
        width: 100%;
    }
    .service img {
        height: 100%;
        width: 100%;
    }
    .prez-services img {
        display: none;
    }
}