.contact-container {
background-color: black;
}

.section-mail {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {
    .section-mail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
    }
}

@media screen and (max-width: 480px) {
    .section-mail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
    }   
}