.faq {
    background-color: black;
  padding-top: 5%;
}
.title-faq {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: var(--subheading);
    font-weight: 100;
    font-size: 6.7rem;
    border-bottom: 1px solid #ffffff;
    padding-top: 2%;
    padding-bottom: 1%;
    margin: 0 5% 2% 5%;
  }
  .container-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }
  
  .faq-container {
    background-color: rgba(217, 217, 217, 0.1);
    margin: 0.3% 0%;
    width: 50%;
    color: #ffffff;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1.5% 4% 1.5% 4%;
  }
  
  .questions {
    justify-self: center;
    grid-column: span 4;
    font-family: var(--body);
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .flechebas {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    justify-self: end;
    align-self: center;
    grid-column: 5;

  }
  
  .img-flechebas {
    width: 25px;
    height: 12px;
  }
  .reponse {
    text-align: center;
    grid-column: span 4;
    font-family: "petrona";
    font-weight: 200;
    font-size: 1.5em;
    padding-top: 3%;
    color: var(--gold);
  }
  
  
  @media screen and (max-width: 1600px) {

    #question-1, #question-2, #question-3, #question-4 {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 1024px) {
    .title-faq {
      font-size: 4.5rem;

    }
  }
  @media screen and (max-width: 1024px) {
    .questions{
      font-size: 1.1rem;
      padding: 10px 10px;
    }
    .reponse{
      font-size: 1rem
    }
    .faq-container {
      width: 80%;
    }

    .img-flechebas{
      width: 20px;
      height: 12px;
      padding-right: 5px;

    }
    .title-faq {
      font-size: 5.8rem;

    }
    .container-faq{
      margin-top: 10%;
    }
  }

  @media screen and (max-width: 480px) {
    .faq {
      padding-top: 10%;
    }
  }