.mainContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12% 10% 0 10%;
}

.txt-main {
    padding-top: 7%;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
.titleSpline {
    display: block;
}
.titleClassic{
    display: none;
    font-family: var(--subheading);
    font-size: 6rem;
    font-weight: 300;
    margin: 0;
}

.txt-main h3{
    font-family: var(--body);
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.4;
    margin: 0;
    width: 70%;
}

.contain-rdv {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.btn-rdv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 70px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    font-family: var(--body);
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    transition:     
    width 0.5s,
    height 0.5s;
}

#flecheBtn {
    transform: rotate(-135deg);
    height: 80%;
    
}

.btn-rdv:hover {
    background-color: black;
    color: white;
    width: 300px;
    height: 90px;

}

#date {
    text-align: end;
    font-family: var(--subheading);
    letter-spacing: 5px;
    font-size: 8rem;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width:1px;
}

@media screen and (max-width: 1640px) {
    .txt-main h3 {
        padding-top: 0%;
        font-size: 2rem;
    }

    .txt-main {
        padding-top: 6%;
    }
    .btn-rdv:hover {
        height: 70px;
    }
}
@media screen and (max-width: 1440px) {

    .mainContent {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
    }
    .txt-main {
        text-align: center;
    }
    .titleSpline {
        display: none;
    }
    .titleClassic{
        display: block;
        font-size: 4.5rem;
    }
    .txt-main h3 {
        font-size: 2.8rem;
        width: 100%;
    }
.contain-rdv{
    padding-top: 20px;
    gap: 0px;
}
    #date{
        text-align: center;
        font-size: 3rem;
        -webkit-text-stroke-width:0.5px;
    }
    .btn-rdv {
        width: 250px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
    .txt-main {
        padding-top: 0%;
    }

    .mainContent {
        margin: 20% 10% 0 10%;
    }
    .titleClassic {
        font-size: 3rem;
        margin-bottom: 5%;
    }
    .txt-main h3{
        font-size: 1.6rem;
    }
}